/* ----------------------------------------------------
Author:     Elisabete Vail 
Date:       April 2015
Project:    FooBarBetty Website

Color Codes: 
	White: 		FFFFFF		255,255,255
	Black: 		000000		0,0,0
	Mint_1: 	E0F0F0;		224,240,240
	Mint_2: 	C0D8D8;		192,216,216
	Mint_3: 	90A8A8;		144,168,168
	Mint_4: 	607878;		96,120,120
	Papaya_1:   	FFE8E8;		255,232,232
	Papaya_2:   	FFB8B8; 	255,184,184
    	Papaya_3:   	FF9090;     	255,144,144
	Papaya_4:   	FF6868;		255,104,104
---------------------------------------------------- */
body,div,h2,form,input,textarea{
    margin: 0%; padding: 0%; border: 0%; outline: none;
}
html{height: 100%;}
body{
	width: 80%;
	margin: 2% auto;
	padding: 0%;
	background-color: #FFFFFF;
	font-family: "Lucida Sans", Lucida, sans-serif;
    	font-weight: normal;
	font-size: 100%;
	text-align: justify; 
	color: #607878;
	-webkit-transition: font-size .05s linear;  
    	-moz-transition: font-size .05s linear;  
    	-o-transition: font-size .05s linear;  
    	-ms-transition: font-size .05s linear;  
    	transition: font-size .05s linear;
}
@media screen and (min-width: 600px){body{font-size: 1.3vw;}}
p{font-size: 1.3vw;}
h2{font-size:2.3vw;}
a{ color: #607878; text-decoration: none; font-weight: bold;}
a:hover{color: #FF6868; cursor: pointer}

/* Button Controlled Expand Collapse */
.divVisible {display:block;}
.divHidden {display:none;}

/* Modal Box */
.modalDialog {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(224,240,240,1);
	position: absolute;
	z-index: 3;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
    -o-transition: opacity 400ms ease-in;
    -ms-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {opacity: 1; pointer-events: auto;}
.modalDialog > div {width:75%; position: relative; margin: auto;}
.close {
	display:block;
	top: 1%;
	right: 1%;
	background: #90A8A8;
	color: #FFFFFF;
    	width: 4vw;
    	height: 4vw;
    	line-height: 4vw;
    	position: absolute;
    	border: 0;
	text-align: center;
	text-decoration: none;
    	font-size: 1.15em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    	-o-border-radius: 50%;
    	-ms-border-radius: 50%;
	border-radius: 50%;
}
.close:hover { background: #FFB8B8; color: #FFFFFF;}

/* --------------------------
Main Container
--------------------------*/
#main_container, header, #circle_buttons, #intro, 
#foowhat, #about_me, #resume, #portfolio, #contact, #footer{
	width: 100%;
	margin:0% 0%;
	padding:0% 0%;
}

/* --------------------------
Header
--------------------------*/
header img {
    	display: inline-block;
 	max-width: 14%;
    	height: auto; 
    	border: none; 
    	float: left; 
    	padding: 0 2% 0 0;
}
header a {color: #90A8A8;}
header a:hover {color: #FF9090; cursor: pointer;}
.logo_1 {display: inline-block; font-size: 500%; margin-top: 0; padding: 0;}
.logo_2 {display: inline-block; font-size: 200%; margin: 0 0 2% 0; padding: 0;}


/* --------------------------
Circle Buttons
--------------------------*/
#cb {position: relative; padding: 0; display: table; width: 100%;}
#cb li {display: table-cell;}
#cb li a {display: block; margin: 0 auto;}
#cb li button {display: block; margin: 0 auto;}
.round-button{
    	width: 9vw;
    	height: 9vw;
    	border: 0;
    	border-radius: 50%;
    	text-align:center;
    	white-space: nowrap;
    	font-style: bold;
    	font-size: 1.5vw;
	color: #FFFFFF;
	-webkit-transition: font-size .05s linear;  
    	-moz-transition: font-size .05s linear;  
    	-o-transition: font-size .05s linear;  
    	-ms-transition: font-size .05s linear;  
    	transition: font-size .05s linear;
}
@media screen and (min-width: 800px){ .round-button{font-size: 1.5vw;}}
@media screen and (min-width: 800px){ #cb button{font-size: 1.5vw;}}
#c1 button, #c5 button {background: #90A8A8;}
#c2 button, #c4 button {background: #C0D8D8; color: #607878;}
#c3 button{background: #E0F0F0; color: #607878;}

/* Turn shades of papaya on hover*/
#c1 button:hover, #c5 button:hover{cursor: pointer; background: #FF9090;}
#c2 button:hover, #c4 button:hover{cursor: pointer; background: #FFB8B8; color: #FFFFFF;}
#c3 button:hover{cursor: pointer; background: #FFE8E8; color:#FF6868;}

/* --------------------------
FooWhat Section
--------------------------*/
#foo_what img{width: 90%; padding: 1% 5%;}

/* --------------------------
 About Me Section
 --------------------------*/
/* About Me Container */
#about_me{
    	overflow: hidden;
    	height: 100%;
    	position: relative;
    	z-index: 0;
}
#about_me_1, #about_me_2{overflow: hidden;}
#about_me_2{position: relative; width: 90%; margin: auto auto;}

/* Create World Map Buttons */
#about_me_2 a{
    	display:block;
    	width: 3vw;
    	height: 3vw;
    	line-height: 3vw;
    	border: 0;
    	border-radius: 50%;
	text-decoration: none;
    	text-align:center;
    	font-size: 1.3vw;
    	font-style: bold;
    	background: #C0D8D8;
    	color: #607878;
	-webkit-transition: font-size 400ms  linear;  
    	-moz-transition: font-size 400ms  linear;  
    	-o-transition: font-size 400ms linear;  
    	-ms-transition: font-size 400ms  linear;  
    	transition: font-size 400ms linear;
}
@media screen and (min-width: 800px){ #about_me_2 a{font-size: 1.3vw;}}
#about_me_2 a:hover {background: #FFB8B8; color: #FFFFFF;}
#map_1b a{position: absolute; z-index: 1; top: 15%; right: 29%;}
#map_2b a{position: absolute; z-index: 1; top: 6%; right: 8.5%;}
#map_3b a{position: absolute; z-index: 1; top: 33%; right: 21%;}
#map_4b a{position: absolute; z-index: 1; bottom: 20%; left: 15%;}
#map_5b a{position: absolute; z-index: 1; top: 13%; right: 35%;}
#map_6b a{position: absolute; z-index: 1; top: 25%; right: 40%;}

/* --------------------------
Portfolio Section
 --------------------------*/
#portfolio img { width: 100%;}
#portfolio b:hover {color: #FF6868; cursor: pointer;}
#sample_1, #sample_2{overflow: hidden;}
#sample_1, #sample_2{ 
    	border: 3px solid #E0F0F0;
    	-webkit-border-radius: 0.5vw;
    	-moz-border-radius: 0.5vw;
    	-o-border-radius: 0.5vw;
    	-ms-border-radius: 0.5vw;
    	border-radius: 0.5vw;
}
#sample_1:hover, #sample_2:hover{ 
    	border: 3px solid #FFB8B8;
}
#s1a, #s2a {width: 74%; float: left;}
#s1b, #s2b {width: 24%; float: right;}
#s1b p, #s2b p {text-align: center; color: #607878}
#sample_1:hover p, #sample_2:hover p {color: #FF6868;}


#portfolio .gist div{ border: none;}
#portfolio .gist-syntax{
    	background: #FFFFFF;
    	font-size: 1.25vw;
    	color: #607878;
    	height: 25vw;
}
#portfolio .line-numbers {
    	background: #FFFFFF;
    	border: none;
    	color: #607878;
} 
#portfolio .gist-meta {
    	background: #FFFFFF;
    	color: #607878;
    	height: 5px;
}
#portfolio .gist-meta a{color: #607878;}
#portfolio .gist-meta a:hover{color: #FF6868;}
#portfolio a{ margin-top: 10%;}
#portfolio .modalDialog img{ margin-top: 10%;}
#portfolio .modalDialog {background: rgba(96,120,120,.7);position: fixed;}

/* --------------------------
Contact Section
 --------------------------*/
#contact {
	width:100%;
	padding:0%;
	margin: 0% auto;   
}
#sweet_captcha{
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-bottom: 3%;
}
#puzzle{
	max-width: 300px;
	margin: auto auto;
}
#contact_form{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#contact input, #contact textarea {
	border: none;
	padding: 1%;
	margin: 0.5% auto;
	-webkit-border-radius: 0.5vw;
	-moz-border-radius: 0.5vw;
	-o-border-radius: 0.5vw;
	-ms-border-radius: 0.5vw;
	border-radius: 0.5vw;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
	float: right;
}
#puzzle input{
	width:40%;
	background: #F5F5F5; 
	color: #000000;  
}
#puzzle input:hover{background: #FFB8B8; color: #FFFFFF;cursor: pointer;}
#contact_form input, #contact_form textarea {
	width:98%;
	background: #E0F0F0; 
	color: #607878; 
	font-family: "Lucida Sans", Lucida, sans-serif;
	font-weight: normal;
	font-size: 1.3vw;     
}
#contact_form input:focus, #contact_form textarea:focus {
	width:98%;
	background: #FFE8E8; 
	color: #607878;      
}
#contact_form #submit {
	width: 25%;
	background: #C0D8D8;
	color:#607878;  
	border:none;
	margin-bottom: 3%;
}
#contact_form #submit:hover { 
	background: #FFB8B8; 
	color: #FFFFFF; 
	cursor: pointer;
}
::-webkit-input-placeholder { color: #607878;}
:-ms-input-placeholder { color: #607878;}
::-moz-placeholder { color: #607878;}
:-moz-placeholder { color: #607878;}


/* --------------------------
Footer
--------------------------*/
footer{margin: 0% auto; padding-bottom: 2%;}
#soc_icons{
	padding: 0; 
	display: table; 
	width: 100%;
	position:relative;
}
#soc_icons li {display: table-cell; vertical-align: middle; }
#soc_icons li button {
	display: block; 
	margin: 0 auto; 
	background: #90A8A8; 
	width: 100%;
}
#soc_icons img{width: 100%; vertical-align: middle;}
#soc_icons .soc-button{
	display: block;
    	width: 4vw;
	height: 4vw;
	line-height: 2vw;
	border: 0;
	border-radius: 50%;
	text-align:center;
	white-space: nowrap;
	position: relative;
}
#soc_icons button:hover{background: #FF9090; cursor: pointer;}
#soc_icons p{font-weight: bold; font-size: 85%;text-align: center;}
#soc_icons a{color: #90A8A8;}
#soc_icons a:hover{color: #FF9090;	cursor: pointer;}
#s3 a{font-style: bold; font-size: 110%; text-align: center;}
#s3 {width: 40%; white-space: nowrap;}




